<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ site.title | append: ' | ' | append: page.title}}
    </title>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?58169a2976fd75ac01f523420119718c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/github-markdown-css/4.0.0/github-markdown.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/github.css" />
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{site.baseurl}}/">{{ site.title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{site.baseurl}}/categories">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{site.baseurl}}/tags">Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{site.baseurl}}/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <article class="markdown-body col-md-8">
                {{ content }}
            </article>
            <div class="col-md-4" style="margin-top: 25px;">
                <h2>
                    About
                </h2>
                <p>
                    guchounongyin@gmail.com
                </p>
                <h2>Categories</h2>
                <p>
                    {% assign all_categories = site.posts | map: "category" | sort %}

                    {% assign applied_categories_raw = "" %}

                    {% for c in all_categories %}
                    {% assign c_add_spliter = c | append:'|' %}
                    {% unless applied_categories_raw contains c_add_spliter %}
                    {% assign applied_categories_raw = applied_categories_raw | append:c_add_spliter %}
                    {% endunless %}
                    {% endfor %}

                    {% assign applied_categories = applied_categories_raw | split:'|' %}

                    {% for category in applied_categories %}
                    <span class="badge badge-success"><i class="fa fa-hashtag"></i>&nbsp;{{ category }}</span>
                    {% endfor %}
                </p>
                <h2>Tags</h2>
                <p>
                    {% assign rawtags = "" %}
                    {% for post in site.posts %}
                    {% assign ttags = post.tags | join:'|' | append:'|' %}
                    {% assign rawtags = rawtags | append:ttags %}
                    {% endfor %}
                    {% assign rawtags = rawtags | split:'|' | sort %}

                    {% assign tags = "" %}
                    {% for tag in rawtags %}
                    {% if tag != "" %}
                    {% if tags == "" %}
                    {% assign tags = tag | split:'|' %}
                    {% endif %}
                    {% unless tags contains tag %}
                    {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
                    {% endunless %}
                    {% endif %}
                    {% endfor %}

                    {% for tag in tags %}
                    <span class="badge badge-primary"><i class="fa fa-tag"></i>&nbsp;{{ tag }}</span>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</body>

</html>